h1 {
  font-family: "Comic Neue", cursive;
  text-align: center;
  font-size: 42px;
  letter-spacing: 5px;
}

img {
  height: 250px;
  width: 250px;
}

.container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container img {
  display: block;
}

.btn {
  width: 200px;
  height: 50px;
  padding: 5px;
  cursor: pointer;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  font-family: "RM Neue", sans-serif;
  font-size: 100%;
  line-height: 1.15;
  color: white;
}

#btn-counter {
  background-color: #0276ff;
}

#btn-counter:active {
  background-color: #006ae8;
}

#btn-reset {
  background-color: #fa0909;
  /* margin-left: 10px; */
}

#btn-reset:active {
  background-color: #f44646;
}

.modal {
  border: 3px solid black;
  padding: 15px;
  width: 20%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 22%;
  left: 40%;
  background-color: #fbab7e;
  z-index: 15;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.modal h2 {
  font-size: 32px;
  font-family: "Comic Neue", cursive;
  margin-bottom: 50px;
}

.overlay {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 105%;
  height: 1;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
